<link rel="STYLESHEET" type="text/css" href="../themes/{Theme}/style/main.css">
<table width="482" border="0" cellspacing="0" cellpadding="0" align="center"
class="bg1" height="53">
  <tr>
    <td align="center" class="menu"><strong>{Q_NAME}</strong></td>
  </tr>
</table>
<table width="100%"  border="0">
  <tr>
    <td align="center" class="main"><b>{Q_INFO}</b></td>
  </tr>
</table>
<table width="95%"  border="0" align="center">
  <tr>
     <td height="18"  align="left" background="../themes/{Theme}/images/titlegrad.jpg" class="main_white">&nbsp;&nbsp;<b>{TEXT} </b> </td>
  </tr>
</table>
