<html>
<link href="images/main.css" rel="stylesheet" type="text/css">
<link href="../images/main.css" rel="stylesheet" type="text/css">
<body>
<br>
<table width="482" border="0" cellspacing="0" cellpadding="0" align="center"
background="images/headerbg.gif" height="53">
  <tr>
    <td align="center" class="menu"><strong>{Q_NAME}</strong></td>
  </tr>
</table>
<table width="100%" align="center">
	<tr>
		<td align="center" class="main">{Q_INFO}</td>
    </tr>
	<tr>
<td align="center">
		 <table width="95%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="18"  align="left" background="images/titlegrad.jpg" class="Twhite">&nbsp;&nbsp; {TEXT} </td>
  </tr>
</table>
{MENU}</td>
	</tr>
</table>
</body>
</html>
