<table width="60%"  border="0" align="center">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="main"><b>{TOTAL_SCORE} {FOR} : {UserName}</b></td>
  </tr>
</table>

<table width="60%" height="137"  border="0" align="center" cellpadding="0" cellspacing="1" >
  <tr class="tdbackground">
    <td height="21" colspan="4" align="center" class="main"><b>{TOTAL_SCORE}</b></td>
  </tr>
  <tr class="tdbackground1">
    <td width="50%" height="21" colspan="2" align="center" class="main"><b>{OCC}</b></td>
    <td width="50%" colspan="2"  align="center" class="main"><b>{SCORE} (%)</b></td>
  </tr>
  <!-- BEGIN scorelist -->
  <tr class="{scorelist.BG}">
    <td height="21">{scorelist.S_DATE}</td>
    <td>{scorelist.VIEW_ER}</td>
    <td colspan="2">{scorelist.S_U_TOTAL}</td>
  </tr>
  <!-- END scorelist -->
  <tr class="tdbackground">
    <td height="25" align="center" class="main"><b>{AVERAGE} (%)</b></td>
    <td class="main" align="center"><b>{TOP_SCORE} (%)</b></td>
    <td class="main" align="center"><b>{UniPart}</b></td>
    <td class="main" align="center"><b>{NrRun}</b></td>
  </tr>
  <tr class="tdbackground">
    <td height="17" align="center" class="main">{S_ANV}</td>
    <td class="main" align="center">{TOP}</td>
    <td class="main" align="center">{UCNT}</td>
    <td class="main" align="center">{CNT}</td>
  </tr>
  <tr>
    <td colspan="4" class="main" align="center">{Taken} {COMMENT}</td>
  </tr>
</table>
