<SCRIPT LANGUAGE="JavaScript" src="verify.js"></SCRIPT>

<script language="JavaScript" type="text/JavaScript">

function check(val){

	input = val.value;

			if (isNaN(input)) 

			{

				alert("กรุณากรอกเป็นตัวเลข");

				val.value="";

				val.focus()

				return false;

			}

}

</script>

<!-- BEGIN copy -->

<p class="main" align="center"><b>{Explanation}:</b></p>

<table width="100%"  border="0" class="tdbackground_white">

  <tr class="tdbackground">

    <td class="menu" align="center"><b>{Text_courses}</b></td>

    <td class="menu" align="center"><b>{Text_modules}</b></td>

    <td class="menu" align="center"><b>{Text_create}</b></td>

  </tr>

  <tr class="tdbackground1">

    <td align="center">{copy.C_NO}{copy.C_NAMET}{copy.C_NAMEE}</td>

    <td align="center">{copy.M_NAME}</td>

    <td align="center">{copy.CREATE}</td>

  </tr>

</table>

<!-- END copy -->

<div align="left"><font color="#FF0000"><b>{DONOT_COPY}{DONOT_COPY1}</b></font></div>



<form name="form" method="post" action="?a={Action}&m=admin" ENCTYPE="multipart/form-data" onReset="return confirm('Are you sure that you wish to erase/reset ALL data in the form?')" onSubmit="return verify(this,{QUIZ_TYPE}); ">

<table width="100%"  border="0" class="main" align="center">

  <tr><td><input type="submit" name="s1" value="{EDIT_B}" class="button" {IS_DISABLED} {IS_DISABLED1}>

    <input type="reset" name="r1" value="{RESET_B}" class="button" {IS_DISABLED} {IS_DISABLED1}></td>

  </tr>

  <!-- BEGIN result -->

  <tr>

  	<td><b>{result.RESULT}</b></td>

  </tr>

  <!-- END result -->

  <tr>

    <td>

	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="bg">

  <tr>

    <td><table width="100%"  border="0" class="tdborder1">

  <tr class="main">

    <td width="12%" valign="top" ><b>{QUES_TEXT} :</b></td>

    <td width="77%"><textarea name="question" cols="75" rows="6" wrap="PHYSICAL" class="small" onSubmit="return verify(this,<? echo $quiztype?>); ">{QUES}</textarea></td>

    <td width="11%">&nbsp;</td>

  </tr>

  <tr class="main">

    <td valign="top"><b>{FILE_TEXT} :</b> </td>

    <td><input type="file" name="picture" maxlength="50" size="39" class="text">&nbsp;{FileUpload}(

	<script>

		document.write(extArray.join("  "));

	</script>)

      {IMG}&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:DeleteQuestion('{Makecopy}','{QUIZ_ID}','','{Q_ID}','{QT}','1','1')">{DEL_P}</a>
	  <input  type="hidden" name="old_pic_q"  value="{Old_pic_q}">
	  
	  </td>

    <td>&nbsp;</td>

  </tr>

  <tr class="main">

    <td valign="buttom"><b>{CAT_TEXT} : </b></td>

    <td>{CAT_TEXT1}

	<table width="100%" class="main">

              <tr>

                <td valign="top">

                  <select name="categories" style="font-size:10px">

                    <option value="0" id="none">Categories</option>

                    <!-- BEGIN cat_list -->

					<option value="{cat_list.CAT_ID}" {cat_list.IS_SELECT}>{cat_list.CAT_NAME}</option>

					<!-- END cat_list -->

                </select></td>

                <td align="left" width="80%"><div style="cursor:hand" onclick='window.open("?a=addCategory&m=admin", "_blank", "left=300, top=250, width=400,height=200,scrollbars=yes,status=yes,toolbar=no,menubar=no,location=no,resizable=yes")'><b>[{ADD_CAT}]</b></div></td></tr>

            </table>

			</td>

    <td>&nbsp;</td>

  </tr>

  <tr class="main">

    <td><b>{SCORE_T}</b> :</td>

    <td><input type="text" class="text" value="{SCORE}" size="3" maxlength="3" onKeyUp="javascript: return check(document.form.score);" name="score" {Disabled}>

      {SCORE_T1}</td>

    <td>&nbsp;</td>

  </tr>

  <tr class="main">

    <td><b>{CHOICE} : </b></td>

    <td>&nbsp;</td>

    <td><b>{CORRECT}</b></td>

  </tr>

 <!-- BEGIN editAns --> 

 <tr>

    <td colspan="3">

	<table width="100%"  border="0" class="main">

			  <tr>

				<td width="12%" valign="top"><b>{editAns.COUNT}</b><br><a href="javascript:DeleteQuestion('{Makecopy}','{QUIZ_ID}','{editAns.ANS_ID}','{Q_ID}','{QT}','1','0')">{editAns.DEL_Q}</a></td>

			    <td width="77%"><textarea wrap="physical" class="small" cols="75" rows="3" name="Alternative{editAns.COUNT}">{editAns.ANS}</textarea></textarea>

				<input type="hidden" name="alt_id{editAns.COUNT}" value="{editAns.ANS_ID}">

				</td>

			    <td width="11%"><input type="checkbox" name="true_{editAns.COUNT}" value="1" {editAns.CHECKED}></td>

			  </tr>

			  <tr>

				<td><b>{FILE_TEXT} :</b> </td>

			    <td><input type="file" name="alternative_pic{editAns.COUNT}" maxlength="50" size="39"  class="text"><br>{editAns.REAT_FILE}&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:DeleteQuestion('{Makecopy}','{QUIZ_ID}','{editAns.ANS_ID}','{Q_ID}','{QT}','0','1')">{editAns.DEL_PA}</a>
				<input type="hidden" name="old_pic_a{editAns.COUNT}" value="{editAns.Old_pic_a}">
				</td>

			    <td>&nbsp;</td>

			  </tr>

			  <tr>

				<td>&nbsp;</td>

			    <td><hr class="colorLine"></td>

			    <td>&nbsp;</td>

			  </tr>

</table>

</td>

  </tr>

  <!-- END editAns -->

  <!-- BEGIN addAns -->

  <tr>

    <td colspan="3"><table width="100%"  border="0" class="main">

      <tr>

        <td width="12%" valign="top"><b>{addAns.COUNT}</b></td>

        <td width="77%"><textarea wrap="physical" class="small" cols="75" rows="3" name="Alternative{addAns.COUNT}"></textarea></td>

        <td width="11%"><input type="checkbox" name="true_{addAns.COUNT}" value="1"></td>

      </tr>

      <tr>

        <td><b>{FILE_TEXT} :</b> </td>

        <td><input type="file" name="alternative_pic{addAns.COUNT}" maxlength="50" size="39"  class="text"> </td>

        <td>&nbsp;</td>

      </tr>

      <tr>

        <td>&nbsp;</td>

        <td><hr class="colorLine"></td>

        <td>&nbsp;</td>

      </tr>

    </table></td>

  </tr>

  <!-- END addAns -->

  <tr class="main">

    <td><b>{SOL_T} : </b></td>

    <td>{SOL_T1}<br><textarea wrap="physical" class="small" name="Solution" cols="75" rows="4">{SOL}</textarea></td>

    <td>&nbsp;</td>

  </tr>

  <tr class="main">

    <td><b>{COMMENT_T} : </b></td>

    <td><textarea wrap="physical"  class="small" name="Comment" cols="75" rows="4">{COMMENT}</textarea></td>

    <td>&nbsp;</td>

  </tr>

</table>

	



	</td>

  </tr>

</table>



	</td>

  </tr>

</table>

<input type="hidden" name="modules" value="{Q_ID}">

<input type="hidden" name="qnr" value="{QUIZ_ID}">

<input type="hidden" name="makecopy" value="{Makecopy}">

<input type="hidden" name="question_type" value="{QT}">

<input type="hidden" name="maxscore" value="{CScore}">

<input type="hidden" name="h_score" value="{Score}">

<input type="hidden" name="num_rows" value="{NumRows}">

</form>

