<meta http-equiv="Content-Type" content="text/html; charset=windows-874">
<style type="text/css">
<!--
.style1 {font-size: 10pt}
-->
</style>
<SCRIPT LANGUAGE="JavaScript" src="form.js"></SCRIPT>
<table width="98%"  border="0" cellspacing="1" cellpadding="0" class="tdborder1">
<form method="post" action="?a={PATH}&m=users&occ={OCC}&ans=1&modules={MODULE}&quiz_id={Q_ID}&h_qid={H_QID}&finished=0{CHECK}" name="form" {JAVA} >
  <tr>
    <td>
	<table width="100%"  border="0" cellspacing="0" cellpadding="0" bgcolor="{BG}" >
  <tr>
    <td width="7%" height="39" align="center"><b>{Num}.</b>&nbsp;</td>
    <td colspan="2" align="left" class="main">{QUESTION}</td>
  </tr>
    <tr>
    <td colspan="3" align="center">{PIC_QUE}</td>
    </tr>
  <tr>
    <td height="22" colspan="2" align="center">&nbsp;</td>
    <td height="22" ><input type="text" size="50" name="answer" value="{ANS}" {IS_DISABLED} class="text">
      <font color="red">***'Numeric Only***</font></td>
  </tr>  
  <tr>
    <td height="22" colspan="2" align="center">&nbsp;</td>
    <td width="91%">
	<input type="submit" name="s1" value="{SUBMIT}" class="button" {IS_DISABLED}>
	{VIEW_PRO}</td>
  </tr>

</table>
	</td>
  </tr>
</form>
</table>

</html>
