<table width="100%"  border="0" class="tdborder1" align="center">
  <tr bgcolor="#FFFFFF">
    <td><table width="100%"  border="0">
      <tr>
        <td colspan="2"><b>คำอธิบาย :</b></td>
      </tr>
      <tr>
        <td width="4%">&nbsp;</td>
        <td width="96%"><p>-แบบทดสอบชุดนี้ เป็น แบบทดสอบที่ ผู้เรียนจะต้องทำการเลือก ข้อสอบที่ผู้เรียนต้องการทำการทดสอบ ได้จาก เมนูทางด้าน ช้ายมือ</p>
          <p>- หลังจากผู้เรียนได้ทำข้อสอบเรียบร้อยแล้ว ทำการ กดปุ่ม เพื่อทำการตอบแบบข้อ ต่อ ข้อ</p>
          <p>- ขั้นตอนสุดท้าย ผู้เรียนจำเป็นต้องทำข้อสอบทุกข้อ หลังจากส่งคำตอบแต่ละข้อแล้ว ผู้เรียนต้องทำการส่งแบบทดสอบทั้งหมด<br>โดยการกดปุ่ม ส่งคำตอบทั้งหมด</p>          </td>
      </tr>
    </table></td>
  </tr>
</table>
