<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874">
<style type="text/css">
<!--
@import url("../css/msg_css.css");
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>
<table width="482" border="0" cellspacing="0" cellpadding="0" align="center"
	    height="53" class="bg1">
	  <tr>
			<td class="menu" align="center">
			<b>{MMSG}</b>
			</td>
	</tr>
</table><br>
<table width="80%" height="47" border="0" align="center" cellpadding="2" cellspacing="0">
  <tr align="center">
    <td height="42" class="blackBol"><img src="images/newmail1.gif" width="28" height="18" align="absmiddle"> <a href="index.php?action=0">{MINBOX}</a></td>
    <td class="blackBol"><img src="images/sentbox.gif" align="absmiddle"> <a href="index.php?action=2">{MOUTBOX}</a></td>
    <td class="blackBol"><img src="images/outbox1.gif" width="25" height="14" align="absmiddle"> <a href="index.php?action=1">{MSENTBOX}</a></td>
    <td class="blackBol"><img src="images/savebox.gif" align="absmiddle"> <a href="index.php?action=3">{MSAVEBOX}</a></td>
  </tr>
</table>

</body>
</html>
