<html>

<head>

<title>Untitled Document</title>

<meta http-equiv="Content-Type" content="text/html; charset=windows-874">

<style type="text/css">

<!--

@import url("../css/msg_css.css");

body {

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

}

-->

</style>

</head>



<body>



<table width="643" border="0" cellspacing="0" cellpadding="0" 
	    height="25"  background="../../themes/{Theme}/images/head_bg.gif">
	  <tr>
			<td width="21"></td>
			<td width="622"  class="headline" >
		 <b>{MMSG}</b>			</td>
	</tr>
</table>

<br>

<table width="85%" height="47" border="0" align="center" cellpadding="2" cellspacing="0">

  <tr align="center">

    <td height="42" class="blackBol"><img src="images/newmail1.gif"  align="absmiddle"> <a href="index.php?action=0">{MINBOX}</a></td>

    <td height="42" class="blackBol"> <img src="images/new.gif" align="absmiddle"> <a href="newmsg_form.php">{NEW}</a></td>

	<td class="blackBol"><img src="images/sentbox.gif" align="absmiddle"> <a href="index.php?action=2">{MOUTBOX}</a></td>

    <td class="blackBol"><img src="images/outbox1.gif"  align="absmiddle"> <a href="index.php?action=1">{MSENTBOX}</a></td>

    <td class="blackBol"><img src="images/savebox.gif" align="absmiddle"> <a href="index.php?action=3">{MSAVEBOX}</a></td>

  </tr>

</table>



</body>

</html>

